* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header .topNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  height: 70px;
  color: #555;
}
header .topNav i {
  color: #AB7442;
  margin: 0 5px;
}
header .topNav .leftSide {
  display: flex;
  gap: 20px;
  margin-left: 50px;
}
header .topNav .rightSide {
  display: flex;
  gap: 20px;
  margin-right: 50px;
}
header .topNav .rightSide .social {
  text-align: center;
}
header .topNav .rightSide .social .fa-brands {
  height: 30px;
  width: 30px;
  background-color: white;
}
header .bottomNav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .bottomNav h1 {
  color: #AB7442;
  margin-left: 50px;
}
header .bottomNav .pages .fa-bars {
  color: #AB7442;
  display: none;
  padding: 20px;
}
header .bottomNav .pages a {
  text-decoration: none;
  color: var(--dark);
  font-size: 15px;
  padding: 15px;
  transition: 0.5s;
}
header .bottomNav .pages .quotePage {
  color: white;
  background-color: #AB7442;
  padding: 29px 50px;
  font-size: 20px;
}
header .bottomNav .pages a:hover {
  color: #AB7442;
}
header .bottomNav .pages .quotePage:hover {
  color: white;
  background-color: rgba(171, 117, 66, 0.7568627451);
}
header .mainNav {
  height: 800px;
  background-image: url(../images/carousel-1.jpg);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 45px;
}
header .mainNav .text {
  margin: 0 250px;
}
header .mainNav button {
  height: 70px;
  width: 230px;
  border: none;
  margin-top: 40px;
}
header .mainNav .read:hover {
  background-color: rgba(171, 117, 66, 0.8901960784);
}
header .mainNav .read {
  background-color: #AB7442;
  color: white;
}
header .mainNav .free {
  background-color: white;
}

body .container {
  height: 400px;
  margin-left: 150px;
  align-items: center;
  justify-content: space-evenly;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
body .container .icon-number {
  display: flex;
  align-items: center;
}
body .container h5 {
  padding: 10px 0;
  font-size: 25px;
  margin-top: 0;
}
body .container i {
  color: #AB7442;
  padding: 5px;
  background-color: #F5F5F5;
}
body .container h1 {
  font-size: 100px;
  color: #F5F5F5;
  margin-left: 50px;
}
body .about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 666px;
}
body .about .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 666px;
  background-color: #F5F5F5;
}
body .about .text {
  margin: 30px 70px;
}
body .about .text p {
  color: #555;
  font-size: 20px;
}
body .about img {
  height: 666px;
  width: 748px;
}
body .about .indicators {
  display: flex;
  margin: 20px 70px;
  gap: 50px;
}
body .about .indicators .icon {
  display: flex;
  gap: 20px;
}
body .about .indicators .icon p {
  color: #AB7442;
  font-size: 30px;
  font-weight: bolder;
}
body .about .indicators .icon h6 {
  font-size: 20px;
}
body .about .indicators i {
  color: #AB7442;
  padding: 7px;
  background-color: white;
}
body .about h1 {
  font-size: 60px;
  margin-bottom: 40px;
}
body .about button {
  margin: 30px 70px;
  height: 70px;
  width: 230px;
  border: none;
  background-color: #AB7442;
  color: white;
  transition: 0.5s;
}
body .about button:hover {
  background-color: rgba(171, 117, 66, 0.6705882353);
}
body .services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 0 80px 0;
}
body .services img {
  width: 400px;
  overflow: hidden;
}
body .services img:hover {
  transform: scale(1.1);
}
body .services h1 {
  display: flex;
  justify-content: center;
  font-size: 70px;
}
body .services .card {
  margin-top: 70px;
  gap: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
body .services .items {
  border: 3px solid whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 500px;
}
body .services .items h2 {
  margin-top: 25px;
  font-weight: 700px;
}
body .services .items p {
  font-size: 20px;
  font-weight: 400px;
  color: #555;
  text-align: center;
  padding-top: 20px;
}
body .services .items a {
  text-decoration: none;
  color: #AB7442;
  padding: 20px 0;
}

@media only screen and (max-width: 1120px) {
  header .topNav {
    display: none;
  }
}
@media only screen and (max-width: 1120px) {
  header .pages a {
    display: none;
  }
  header .pages .fa-bars {
    display: block;
  }
}
@media only screen and (max-width: 1120px) {
  header .mainNav {
    font-size: 30px;
  }
}
@media only screen and (max-width: 1120px) {
  body .container {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 750px) {
  body .container {
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 1000px;
  }
}
@media only screen and (max-width: 1120px) {
  body .about {
    height: 1300px;
    grid-template-columns: 1fr;
  }
  body .about img {
    display: flex;
    justify-content: center;
  }
}
@media only screen and (max-width: 1290px) {
  body .services .card {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 750px) {
  body .services .card {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=main.css.map */