@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 70%;
  margin: 0 auto;
}
.container .topText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .topText h6 {
  font-family: Archivo;
  font-size: 0.9em;
  color: rgb(36, 46, 66);
  margin: 20px;
  color: rgb(254, 114, 53);
}
.container .topText h1 {
  font-size: 3.157em;
  color: rgb(36, 46, 66);
  font-family: Archivo;
  margin-bottom: 20px;
}
.container .topText p {
  font-family: Muli;
  font-size: 1.333em;
  color: rgb(91, 97, 124);
  text-align: center;
  margin-bottom: 50px;
}
.container .bottomCards {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.container .bottomCards img {
  border: 1px solid rgba(128, 128, 128, 0.326);
  margin-bottom: 20px;
}
.container .bottomCards h4 {
  font-weight: 500;
  font-family: Archivo;
  font-size: 1.777em;
  color: rgb(36, 46, 66);
  margin-bottom: 20px;
}
.container .bottomCards p {
  font-family: Muli;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: rgb(94, 121, 151);
  margin-bottom: 20px;
}
.container .bottomCards h6 {
  font-family: Archivo;
  font-weight: 400;
  font-size: 0.9em;
  color: rgb(254, 114, 53);
  letter-spacing: 3px;
  margin-bottom: 20px;
}
.container .bottomCards .pages {
  font-family: Muli;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  font-weight: 600;
}
.container .bottomCards .pages .panel {
  display: none;
}
.container .bottomCards .pages .panel p {
  padding: 20px;
}
.container .bottomCards .pages button {
  padding: 15px 10px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  display: flex;
  justify-content: space-between;
  background-color: white;
  transition: 0.5s;
}
.container .bottomCards .pages button i {
  width: 20px;
  height: 20px;
  background-color: rgb(254, 167, 53);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-top: 5px;
}
.container .bottomCards .pages button:hover {
  background-color: rgb(0, 119, 255);
  color: white;
}
.container .bottomCards .pages button:hover i {
  background-color: white;
  color: rgb(0, 119, 255);
}
.container .button {
  display: flex;
  justify-content: center;
  margin: 40px;
}

@media only screen and (max-width: 902px) {
  .bottomCards {
    display: flex;
    flex-wrap: wrap;
  }
}
.todo {
  background-color: rgba(69, 109, 203, 0.518);
  display: flex;
  align-items: center;
}
.todo .todo-app {
  background-color: white;
  padding: 15px;
  border-radius: 20px;
  margin: 30px;
}
.todo .todo-app h1 {
  text-align: center;
  margin-bottom: 30px;
}
.todo .todo-app form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.todo .todo-app input {
  width: 70%;
  padding: 15px;
  border: 4px solid rgba(69, 109, 203, 0.518);
  border-radius: 15px;
}
.todo .todo-app .btn {
  background-color: rgba(69, 109, 203, 0.518);
  border: none;
  color: white;
  border-radius: 15px;
  padding: 20px 30px;
}
.todo .todo-app .btn:hover {
  background-color: rgba(69, 109, 203, 0.682);
}
.todo .todo-app li {
  list-style-type: none;
  cursor: pointer;
  position: relative;
  padding: 10px 6px 10px 30px;
}
.todo .todo-app li:before {
  content: "☐";
  font-size: 20px;
  position: absolute;
  left: -1px;
}
.todo .todo-app li.checked {
  text-decoration: line-through;
  color: black;
}
.todo .todo-app li span {
  position: absolute;
  top: 0;
  right: 0%;
  color: red;
  font-size: 1.5rem;
}
.todo .todo-app ul li.checked::before {
  content: "☑";
  color: rgba(69, 109, 203, 0.682);
}
.todo .todo-app .delete {
  background-color: rgba(69, 109, 203, 0.682);
  border: none;
  color: white;
  padding: 10px;
  border-radius: 15px;
}
.todo .todo-app .update-task {
  border: none;
  background: none;
  cursor: pointer;
  position: absolute;
  left: 95%;
}/*# sourceMappingURL=style.css.map */