* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}



header {
    background-color: #2C3E50;
    color: white;
    height: 104px;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 5;
    width: 100%;
}


.container {
    width: 1320px;
    height: 104px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    
}

.pages a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    font-weight: bold;
}

.rightBox:hover {
    color: #1ABC9C;
}

.rightBox:hover {
    transition: color 0.3s
}

.mainSec {
    background-color: #1ABC9C;
    height: 782px;
   padding-top: 104px ;
}

.main {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 104px;
    color: white;
  
   

}

.avatar {
    width: 250px;
}

.start {
    font-size: 64px;
    margin-top: 48px;
}

.vectors {
    width: 112px;
    margin: 0 12px;
    border: 2px solid white;
    border-radius: 4px;
}

.star {
    display: flex;
    align-items: center;
    margin-top: 28px;
    padding-bottom: 50px;
}

.artist {
    font-size: 24px;
    padding-bottom: 104px;
}
.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.port {
    width: 297px;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-top: 120px;
    font-size: 48px;
    color: #2C3E50;
}

.figure {
    display: flex;
    align-items: center;
    margin-top: 28px;
    margin-bottom: 20px;
}

.lines {
    width: 112px;
    margin: 0 12px;
    border: 2px solid #2C3E50;
    border-radius: 4px;
}

.image {
    width: 400px;
    height: 289px;
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
}
.pictures{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 60px;
}

.sekil{
    position: relative;
    width: 400px;
    height: 290px;
   
   
}
.plus{
    background-color: #1ABC9C;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    top:0;
    left: 0;
    width: 400px;
    height: 289px;
    opacity: 0;
    border-radius: 8px;
    transition: 0.3s;
}
.plus:hover{
    opacity: 0.7;
}


.aboutSec {
    background-color: #1ABC9C;
    height: 580px;
    color: white;
}

.about {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 96px;
}

.word {
    width: 1290px;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 96px;
    font-size: 48px;

}

.pics {
    width: 112px;
    margin: 0 12px;
    border: 2px solid white;
    border-radius: 4px;

}

.starBox {
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.texts {
    display: flex;
    align-items: center;

}

.text1 {
    width: 416px;
    height: 120px;
    margin-left: auto;
    font-size: 20px;
    font-weight: 300px;
    line-height: 30px;
    margin-right: 10px;
}

.download {
    margin-top: 100px;
    background-color: #1ABC9C;
    border: 2px solid white;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 20px 35px;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.4s;

}

.download:hover {
    background-color: white;

}

.download:hover {
    color: black;
}

.fa-solid {
    margin-right: 10px;

}

.contactForm {
    height: 850px;
}

.contact {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contactMe {
    width: 335px;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-top: 120px;
    font-size: 48px;
    color: #2C3E50;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
    width: 600px;
    height: 88px;
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
}

.submit {
    background-color: #1ABC9C;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 8px;
    margin-right: 455px;
    margin-top: 15px;
}

.footer {
    background-color: #2C3E50;
    height: 273px;
    color: white;
}

.containerFooter {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-left: 130px;

}

.location {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 24px;
}

.underText {
    color: #ccc;
}

.icon {
    background: #2C3E50;
    padding: 15px;
    border-radius: 50%;
    color: white;
    transition: 0.3s;
    border: 2px solid white;
    margin: 5px;
}

.icon:hover {
    background-color: white;
}

.icon:hover {
    color: black;
}

.link {
    color: #1ABC9C;
}

.copyright {
    background-color: #1a252f;
    height: 72px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}