
/* parent > child- div taginin birbaşa childi olan p taginə style verir */
div > p {
  color: rgb(255, 55, 0);
}


/* element,element - 	büten i və sup elementləri seçir*/
i, sup {
  background-color: yellow;
}


/* element element - span elementinin içində olan bütün p elementlərini seçir və style verir */
span p {
  background-color: rgb(83, 210, 83);
}


/* element>element - parenti ol elementi olan bütün li elementlərini seçir */
ol > li {
  color: rgb(255, 0, 191);
}


/* element+element - div elementindən dərhal sonra gələn p elementini seçir: */
div + p {
  background-color: rgb(255, 179, 0);
}


/* element ~ element - Qarşısında <span> elementi olan hər <ul> elementini seçir*/
  span ~ ul {
  background: #ff0000;
}



/* [attribute] - target atributu olan bütün a elementlərini seçir */
a[target] {
  background-color: rgb(40, 200, 225);
}


/* [attribute=value] - target="_blank" olan bütün attributları seçir */
a[target="_blank"] {
  background-color: yellow;
}


/* [attribute*="value"] - class attribut value testə bərabər olan bütün span elementlərini seçir*/
span[class*="test"] {
  color: blueviolet;
}


/* [attribute$=value]- class attribute value test ilə bitən bütün div elementlərini seçir*/
div[class$="test"] {
  background: #00ffff;
}


/* [attribute^=value] - class attribute value  "text"  ilə başlayan bütün div elementlərini seçir*/
div[class^="text"] {
  background: #ff0011;
}


/* :active - linkə toxunanda rəngini dəyişdirir */
a:active {
  background-color: rgb(105, 49, 237);
}


/* ::after - Hər <b> elementinin məzmunundan sonra mətn daxil edir*/
b::after {
  content: " - Remember this";
}


/* ::before- hər strong elementindən əvvəl mətn daxil edir */
strong::before {
  content: "Read this: ";
}

/* :empty - contentin olmayan pe elementini seçir */
p:empty {
  background: #ff00e6;
  width: 100px;
  height: 20px;
}


/* :first-child- parentinin ilk childı olan sub elementini seşir */
sub:first-child {
  background-color: rgb(0, 255, 229);
}


/* :link - Baxılmamış linkləri seşir */
a:link {
  background-color: rgb(227, 133, 133);
}

/* :not - mark elementi olmayan bütün elementlərə style verir */
mark {
  color: #000000;
}
:not(mark) {
  color: #ff9d00;
}


/* :optional -requirəd attributu olmayan bütün inputları seçir */
input:optional {
  background-color: rgb(81, 79, 79);
}


/* :read-only - input elementinin readonly attributu varsa seçir  */
input:read-only {
  background-color: rgb(255, 0, 149);
}


/* :valid - value si olan bütün input elementlərini seçir */
input:valid {
  background-color: rgb(195, 255, 0);
}


/* :read-write - readonly attributu olmayan input elementlərini seçir */
input:read-write {
  background-color: rgb(255, 115, 0);
}



/* ::selection  - hansısa seçilən textin backgrounduna style verir */
::selection {
   background: rgb(166, 0, 255);
}


/* :required - required attributu olan inputları seçir*/
input:required {
  background-color: rgb(0, 174, 255);
}

/*  ::marker - Siyahı elementlərinin markerlərini styleın dəyişir */
::marker {
  color: rgb(93, 0, 255);
}